<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!--- las 3 lineas de arriba agregan estilos tipograficos-->

    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/signin.css">

</head>



<body>

    <header>
        <div class="tablet">
            <nav class="top-nav">

                <a href="/" class="logo">
                    <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" class="logo1">
                </a>

                <div class="search-bar">
                    <form action="TBD"  method="POST">
                        <input type="text" name="search" placeholder="Buscá que comprar." class="search-bar-item">
                        <button name="search-button" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>

            </nav>

            <div class="middle-nav">
                <nav>
                    <h4 id="top-text"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</h4>
                </nav>
            </div>
        </div>
       
        <div class="bottom-nav">
            <nav>
                <a href="">Ofertas</a>
                <a href="">Tiendas Oficiales</a>
                <a href="">Vender</a>
                <a href="">Ayuda</a>
            </nav>
    
            <nav>
                <a href="/signin">Creá tu cuenta <i class="fa-solid fa-id-card icon"></i></a>
                <a href="/login">Ingresá <i class="fa-solid fa-arrow-right-to-bracket icon"></i></a>
                <a href="">Mis compras <i class="fa-solid fa-basket-shopping icon"></i></a>
            </nav>
        </div>

        <div class="hamburger-menu">
            <nav>
                <a href="">
                    <i class="fas fa-bars"></i>
                </a>
            </nav>
        </div>
        

    </header>

    <main>


        <section>
            <div class="signInBox">

                <h1>Ingresá</h1>
                <div class="forms">

                    <div>
                        <label for="email" class="email">
                            Email
                            <input type="email" id="email" placeholder="Correo electrónico">
                        </label>
                    </div>

                    <div>
                        <label for="pass" class="pass">
                            Contraseña
                            <input type="password" id="pass" placeholder="Contraseña">
                        </label>
                    </div>

                    
                </div>


              

                <form action="TBD" method="POST" class="btn">
                    <input type="button" value="Ingresar" id="sendBtn">
                </form>
            </div>
        </section>




        
    </main>

    <footer>
        <div class="elemento-foot">
            <div><i class="fa-solid fa-credit-card foot-icon"></i></div>
            <div>
                <h4 class="footer-title">Pagá con tarjeta o en efectivo</h4>
                <p class="footer-title">Con MercadoLiebreCash tenés cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
        </div>

        <div class="elemento-foot">
            <div><i class="fa-solid fa-gift foot-icon"></i></div>
            <div>
                <h4 class="footer-title">Envío gratis desde los $ 2.500</h4>
                <p class="footer-title">Solo por estar registrado en MercadoLiebre tenés envios gratis en miles de productos. Es un beneficio de MercadoPuntos</p>
            </div>
        </div>

        <div class="elemento-foot">
            <div><i class="fa-solid fa-user-shield foot-icon"></i></div>
            <div>
                <h4 class="footer-title">Seguridad de principio a fin</h4>
                <p class="footer-title">¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estas siempre protegido</p>
            </div>
        </div>
    </footer>
</body>
</html>